<div class="top-bar">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span9 flash hidden-phone">
                {% if app.session.hasFlash('notice') %}
                    <div class="flash-notice">
                        {% autoescape false %}
                        {{ app.session.flash('notice') }}
                        {% endautoescape %}
                    </div>
                {% endif %}
            </div>
            <div class="span3 user_area">
                <ul>
                    <li class="register">
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                        {% else %}
                        <a href="">Je m'inscris</a>
                        {% endif %}
                        <div class="form-container"></div>
                    </li>
                    <li class="account">
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <a href="{{ path('fos_user_security_login') }}">Mon espace</a>
                        {% else %}
                        <a href="">Mon espace</a>
                        {% endif %}
                        <div class="form-container"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="content container-fluid">
    <div class="row-fluid">
        <div class="span6 logo">
            <h1><a href="/">RUN4FUN - Plateforme communautaire de running</a></h1>
        </div>
        <div class="span6 social_links hidden-phone">
            {% include "r4fSiteBundle::social_links.html.twig" %}
        </div>
    </div>
    <nav class="row-fluid navbar">
        <div class="navbar-inner">
            <div class="container">
                <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="/">Accueil</a></li>
                        <li><a href="{{ path('r4f_site_course_list') }}">Parcours</span></a></li>
                        <li><a href="{{ path('r4f_runner_user_list') }}">Utilisateurs</span></a></li>
                        <li><a href="/events">Events</a></li>
                        <li><a href="/concept">Concept</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
