{% extends "r4fSiteBundle::layout.html.twig" %}

{% block title %}
    Accueil - Login
{% endblock %}




{% block r4fSite_body %}
<h3>Se connecter à Run4fun </h3>
<br />

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">Pseudo</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="_password" />
    
    <label for="remember_me">Se souvenir de moi</label>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    
    <br/>
    <br/>
    <input type="submit" id="_submit" name="_submit" value="Login" />
</form>

{% if error %}
    <div>{{ error|trans([], 'r4fRunnerBundle') }}</div>
{% endif %}

<hr>

<a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">Rejoindre la communaute</a>
 

        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}
{% endblock %}
