<h1>Course list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Length</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('course_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.length }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('course_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

