{% extends "r4fSiteBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block r4fSite_body %}

	<h2>Listing des users</h2>
	<br />
    <ul class="users">
    {% for user in users %}
        <li>
            <a href="{{ path('r4f_runner_user_select', { 'id': user.id  }) }}">{{ user.username }}</a>
            <span class="details">{{ user.username }}<br />{{ user.email }}</span>
        </li>
    {% endfor %}
    </ul>
{% endblock %}