{% extends "r4fUserBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block r4fUser_body %}

	<h1>Formulaire Create R- U- D</h1>

<form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Retour à la page listing user
        </a>
    </li>
</ul>

{% endblock %}