{% extends "r4fSiteBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block r4fSite_body %}
	<h2>Merci de votre inscription</h2>
	<br />
	<h3>Vous avez Rejoins la course numero {{ course.id }}</h3>
    <br/>
	<h6>INFO DU PARCOURS CI-DESSOUS</h6>
    <br/>
	<h6>description :{{ course.description }}</h6>
    <br/>
	<h6>length :{{ course.length }}</h6>
    <br/>
	<h6>meeting_point :{{ course.meetingPoint }}</h6>
    <br />
	Mail notifiant de votre inscription envoye au autres Runners inscrit a ce parcours ...
{% endblock %}